<h2 class="text-2xl text-center text-red-800">Fridgard Rosenkranz Keramik / Reliefbilder</h2>
<img src="./media/Portr%C3%A4t2.jpg" alt="" class="w-full">
<p style="text-align: center;"><span style="font-size: large;">Fridgard Rosenkranz</span>&nbsp;</p>
<p style="text-align: center;">&nbsp;1915 - geborene Henkel</p>
<p style="text-align: center;">seit 1939 verheiratet mit Rupert Rosenkranz</p>
<p style="text-align: center;">2007 - gestorben</p>
<p style="text-align: center;">&nbsp;Als Autodidaktin hat Fridgard Rosenkranz Keramiken und kleine Reliefbilder</p>
<p style="text-align: center;">aus Kunststoff hergestellt. Hier verarbeitete sie sowohl Alltägliches</p>
<p style="text-align: center;">als auch Impressionen von vielen gemeinsamen Studienreisen.</p>
<img src="./media/Keramik1.jpg" alt="" class="w-full">
<p style="text-align: center;">Diese Keramiken sind mit FR und Jahreszahl 1959 / 1961 signiert.</p>
<app-gallery [images]="images"></app-gallery>
<img src="./media/H%C3%B6rner.jpg" alt="" class="w-full">
<img src="./media/Reliefbilder-1.jpg" alt="" class="w-full">
<img src="./media/Reliefbilder-2.jpg" alt="" class="w-full">
<img src="./media/Reliefbilder-3.jpg" alt="" class="w-full">
<img src="./media/Reliefbilder-4.jpg" alt="" class="w-full">
