<h2 class="text-2xl text-center text-red-800">Vita</h2>
<div class="contentStarts">
  <a id="wb_section_2" name="wb_section_2"></a><p style="text-align: center;">1908 geboren in Aichdorf/Österreich</p>
  <p style="text-align: center;">Lehre als Schriftenmaler / Vergolder</p>
  <p style="text-align: center;">1931-1933 Landeskunstschule Graz</p>
  <p style="text-align: center;">Arbeit als technischer- und katographischer Zeichner</p>
  <p style="text-align: center;">1939 Heirat mit Fridgard Rosenkranz geb.Henkel</p>
  <p style="text-align: center;">1939-1941 Hochschule für bildende Künste Berlin</p>
  <p style="text-align: center;">&nbsp;</p>
  <p style="text-align: center;"><img class="w-full" src="./media/1940.jpg" alt="Rupert Rosenkranz 1940">Rupert Rosenkranz 1940</p>
  <p style="text-align: center;">&nbsp;</p>
  <p style="text-align: center;">Soldat - arbeitete als Kartograph und zeichnete Porträts seiner Kameraden</p>
  <p style="text-align: center;">1950 Entlassung aus russischer Kriegsgefangenschaft</p>
  <p style="text-align: center;">Freiberuflich tätig als Maler und Grafiker</p>
  <p style="text-align: center;">&nbsp;</p>
  <p style="text-align: center;"><img class="w-full" src="./media/Ausst2.jpg" alt="Rupert Rosenkranz 1962">Rupert Rosenkranz 1962</p>
  <p style="text-align: center;">&nbsp;</p>
  <p style="text-align: center;">Ölmalerei und Linolschnitte</p>
  <p style="text-align: center;">Auseinandersetzung mit verschiedenen Stilrichtungen -</p>
  <p style="text-align: center;">1960 - "Ein Fisch erlebt das 20. Jahrhundert"</p>
  <p style="text-align: center;">Experimentiert mit verschiedenen Drucktechniken</p>
  <p style="text-align: center;">Elektrographie - PVC Druckplatten werden mit Sticheln und Hitze bearbeitet</p>
  <p style="text-align: center;">1991 in Hamburg gestorben</p>
  <p style="text-align: center;">&nbsp;</p>
  <p style="text-align: center;"><img class="w-full" alt="" src="./media/RR.jpg"></p>
</div>