<h2 class="text-2xl text-center text-red-800">M a l e r&nbsp;&nbsp;&amp;&nbsp;&nbsp;G r a f i k e r</h2>
<div class="contentStarts">
  <p style="text-align: center;"><img class="w-full" src="./media/Titel.jpg" alt=""></p>
  <p style="text-align: center;"><span style="font-size: large;">&nbsp;</span><span style="color: rgb(128, 0, 0);"><span style="font-size: large;"> Herzlich Willkommen auf der Memory Seite von</span></span></p>
  <p style="text-align: center;"><span style="color: rgb(128, 0, 0);"><span style="font-size: large;">Rupert und Fridgard Rosenkranz</span></span></p>
  <iframe class="w-full aspect-video mx-auto my-4" src="https://www.youtube.com/embed/PdaWIEIShWo?si=urV67USzA14LVpcN" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>